ul {
    list-style: none;
    padding: 0;
}

button {
    border: none;
}

.App {
    margin: 50px;
}

.error {
    border: red 2px solid;
}

.error-message {
    color: red;
}

.active-filter {
    background-color: green;
}

.is-done {
    opacity: 0.5;
    text-decoration: line-through;
}

.delete {
    background-color: red;
}